#root {
  width: 100%; /* max-width 대신 100%로 */
  height: 100vh; /* 화면 꽉 채우기 */
  margin: 0 auto;
  text-align: left; /* 보통은 left */
  /*overflow: hidden;*/
}

.notice-content {
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
}

.notice-content img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 1.5rem auto; /* 위아래 여백 + 가운데 정렬 */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.notice-content p {
  margin-bottom: 1rem;
}

.notice-content h1,
.notice-content h2,
.notice-content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-title {
  cursor: pointer;
  padding: 10px;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-content {
  display: block;
}